#root {
  max-width: 1280px;
  margin: 0 auto;
}

.read-the-docs {
  color: #888;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  margin-bottom: 5px;
}

ul li:first-child {
  font-weight: 700;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 20px;
}

.header img {
  width: 175px;
  border-radius: 10px;
}

.main {
  width: 600px;
}

.about_me li:nth-child(3) {
  display: inline-block;
}

.about_me img {
  width: 25px;
  margin-left: 5px;
  margin-top: -10px;
}
